.todo-list .item .conditional-container {
  display: inline-block;
}

.todo-list .item .hidden {
  visibility: hidden;
}

.todo-list .item .complete {
  text-decoration: line-through;
  opacity: 0.5;
}
