<!DOCTYPE html>
<html lang="en" ng-app="todoListApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS To-Do List</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="TodoListCtrl as ctrl">
      <h1>AngularJS To-Do List</h1>
      <input type="text" placeholder="Add a new to-do item" ng-model="ctrl.inputValue" ng-keydown="ctrl.addItem($event)">
      <ul class="todo-list">
        <li class="item" ng-repeat="item in ctrl.listItems track by $index">
          <input type="checkbox" ng-class="{hidden: item.isEditable}" ng-model="item.complete">
          <div class="conditional-container" ng-dblclick="ctrl.toggleEditMode($index)">
            <div ng-show="item.isEditable">
              <input type="text" ng-model="item.name" show-focus=item.isEditable ng-blur="ctrl.toggleEditMode($index, $event)" ng-keydown="ctrl.toggleEditMode($index, $event)">
            </div>
            <div ng-show="!item.isEditable">
              <span ng-class="{complete: item.complete}">{{item.name}}</span>
              <button ng-click="ctrl.deleteItem($index)">x</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
